<footer class="footer">
  <img src="/img/logo.png" alt="Logo">
  <div class="footer-sections">
    <div>
      <h4>Enlaces útiles</h4>
      <ul>
        <li>Empresas</li>
        <li>Postulantes</li>
        <li>Términos y condiciones</li>
        <li>Política de privacidad</li>
        <li>Contacto</li>
      </ul>
    </div>
    <div>
      <h4>Redes sociales</h4>
      <a href="#"><span class="mdi mdi-instagram" style="font-size: 25px;margin-right: 5px;"></span></a>
      <a href="#"><span class="mdi mdi-facebook" style="font-size: 25px;margin-right: 5px;"></span></a>
    </div>
    <div>
      <h4>Contacto</h4>
      <p>📧 info&#64;jujuyglobal.com<br>📍 Jujuy, Argentina</p>
    </div>
  </div>
  <p class="footer-copy">© 2025 Jujuy Global. Todos los derechos reservados.</p>
</footer>