<form action="" method="post" class="form-empresa">
  <label for="" class="form-label">nombre de la empresa</label>
    <input class="form-input" type="text" placeholder="nombre">
    <label for="" class="form-label">dueño de la empresa</label>
    <input class="form-input" type="text" placeholder="nombre y apellido">
    <label for="" class="form-label">email</label>
    <input class="form-input" type="email" placeholder="correo@correo.com">
    <label for="" class="form-label">telefono</label>
    <input class="form-input" type="tel" placeholder="3881234560">
    <button class="form-button boton-registro">registrar empresa</button>
      
</form>
