<form action="" method="post" class="form-usuario">
  <label for="" class="form-label">nombre</label>
    <input class="form-input" type="text" placeholder="nombre">
    <label for="" class="form-label">apellido</label>
    <input class="form-input" type="text" placeholder="apellido">
    <label for="" class="form-label">email</label>
    <input class="form-input" type="email" placeholder="correo@correo.com">
    <label for="" class="form-label">telefono</label>
    <input class="form-input" type="tel" placeholder="3881234560">
    <label for="" class="form-label">usuario</label>
    <input class="form-input" type="text" placeholder="tu usuario">
    <label for="" class="form-label">password</label>
    <input type="password" class="form-input" name="" id="" placeholder="">
    <button class="form-button boton-registro">registrar usuario</button>
      
</form>

